streamlit
pandas
numpy

scikit-learn
lime

langchain
langchain-core
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface

chromadb
sentence-transformers
huggingface-hub

google-generativeai

requests
python-dotenv

pypdf

tensorflow
tf-keras
